.bg-contendor{
    -fx-background-color: #FEF2E4;
    -fx-background-radius:  20;
    -fx-border-color:  #000000;
    -fx-border-radius: 17;
    -fx-border-style: solid;
    -fx-border-width: 4;
}
.bg-principal-gradient{
    -fx-background-color: linear-gradient(to bottom,#FAA42F,#FA5F2F);
}

.bg-titulo{
    -fx-background-color: #C60000;
}

.bg-fondo-modulo{
    -fx-background-color: #FEF2E4;
}

.bg-columnas-modulo{
    -fx-background-color: #FD974F;
}
.table-view .column-header {
    -fx-background-color: #FD974F;
    -fx-text-fill: white;
}
.table-view .cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.btn-funciones{
        -fx-background-color: #805A3B;
        -fx-text-fill: white;
        -fx-border-color: transparent;
        -fx-padding: 10px 20px;
        -fx-cursor: hand;
        -fx-background-radius: 5px;
        -fx-font-weight: bold;
        -fx-font-size: 16px;
}